---
import "../../styles/global.css";
import { services } from "../../data/services";
import Gallery from "../../components/Gallery.astro";

const { slug } = Astro.params;
const service = services.find(s => s.slug === slug);

if (!service) {
    throw new Error(`Service not found: ${slug}`);
}
---

<h1>{service.name}</h1>
{service.blurb && <p>{service.blurb}</p>}

<Gallery
        title={service.name + " Photos"}
        images={service.images}
        albumUrl={service.albumUrl}
/>

