
---
import MainLayout from "../../layout/MainLayout.astro";
import Gallery from "../../components/Gallery.astro";
import { services } from "../../data/services";

const { slug } = Astro.params;
const svc = services.find((s) => s.slug === slug);

if (!svc) {
    throw new Error(`Unknown service: ${slug}`);
    }
---

<MainLayout title={`${svc.name} | KIL Construction`} description={svc.blurb ?? svc.name}>
    <h1>{svc.name}</h1>
    {svc.blurb && <p>{svc.blurb}</p>}

    <Gallery images={svc.images} albumUrl={svc.albumUrl} />
</MainLayout>


